# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class

# ambiente virtual
venv/
.venv/
env/

# distribuição/build
build/
dist/
*.egg-info/

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# DATA SCIENCE
# =========================
data/raw/
data/interim/

# arquivos grandes
*.parquet
*.feather
*.h5

# =========================
# LOGS
# =========================
*.log

# =========================
# ENVIRONMENT VARIABLES
# =========================
.env

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# NEOVIM/VIM
# =========================
*.swp
*.swo
Session.vim

# =========================
# LINUX / MAC
# =========================
.DS_Store
Thumbs.db
